.container{
                   width:38%;
                   padding:5px;
                   margin:10px auto;
                   display:flex;
                   flex-direction: row;
                   justify-content: center;
}

.box{
         width: 200px;
         margin:0 10px;
         box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
         transition:1s;
}

.box img{
                display: square;
                width:100%;
                height:100%;
                border-radius: 5px;
}

.box:hover{
                    transform:scale(1.3);
                    z-index:2;
}

body{
         background: url("../img/bg1.jpg"); 
         min-height: 100vh;
         background-size: 100vw 100vh;
         background-repeat: no-repeat;
}

.container2{
                   width:38%;
                   padding:5px;
                   margin:10px auto;
                   display:flex;
                   flex-direction: row;
                   justify-content: center;
}

.box2{
         width: 200px;
         margin:0 10px;
         box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
         transition:1s;
}

.box2 img{
                display: square;
                width:100%;
                height:100%;
                border-radius: 5px;
}

.box2:hover{
                    transform:scale(1.3);
                    z-index:2;
}

.logout-btn {
  background-color: red;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.logout-btn:hover {
  background-color: darkred;
}
