body{
    background: url("../img/space1.jpg") no-repeat; 
    background-size: cover;
    background-position: center;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background: url("../img/.jpg") no-repeat;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3e8e41;
}